body {
    margin: 0;
    color: #444444;
    background-image: linear-gradient(rgba(245, 245, 245, 0.87), rgba(245, 245, 245, 0.87)), url("../images/bg.jpg");
}

#header {
    height: 44px;
    background-color: black;
    padding: 0 1.25rem;
    width: 100%;
    position: fixed;
    line-height: 44px;
    display: flex;
    justify-content: space-between;
}

#header nav a {
    font-weight: 600;
    margin: 0 0.5rem 0 0;
    padding-right: 1.25rem;
    color: rgba(255, 255, 255, 0.5)
}

#header a {
    font-size: 1rem;
    font-family: Arial;
    font-weight: 600;
    padding: 0 0.75rem;
    color: white;
}

a {
    text-decoration: none;
}

#nav a:hover {
    color: white
}

#banner {
    height: 35rem;
    /* padding: 44px;*/
    font-family: Arial;
    text-align: center;
    background-image: url('../images/banner.jpg');
    width: 100%;
    line-height: 1.65;
    /*	display:flex;*/
    color: white;
}

#transform {
    background-color: #000000;
    width: 100%;
    height: 35rem;
    opacity: .7;
}

#banner h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 300;
    color: white;
}

#banner p {
    font-size: 24px;
}

#inner {
    position: relative;
    padding-top: 10%
}

#sem {
    padding: 4rem 0 2rem 0;
    width: 100%;
    text-align: center;
}

#sem h2 {
    font-size: 2.25rem;
    font-family: Arial;
    font-weight: 300;
    margin-bottom: 20;
}

#sem p {
    color: #444444;
    font-size: 100%;
    font-family: "Raleway", Arial;
    margin-left: auto;
    margin-right: auto;
}

#highlights {
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.card {
    text-align: center;
    width: calc(50% + 0rem);
    padding: 3rem;
    font-size: 1rem;
    font-family: Arial;
    background-color: white;
    opacity: 5;
    color: #444444;
    width: 250px;
    height: auto;
    margin-right: 50px;
    margin-top: 43px;
    border-radius: 4px;
}

#highlights .card i {
    color: #ce1b28;
    font-size: 5rem;
}

#highlights .card h3 {
    font-size: 1.25rem;
    font-weight: 300;
    ;
}

#highlights .card p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
}

#curab {
    background-color: #ce1b28;
    width: 100%;
    /* opacity: 0.6;*/
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url('../images/cta01.jpg');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    padding: 4rem 0 6rem 0;
    line-height: 1.65;
}

#curab h2 {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    color: white;
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    line-height: 1.3;
}

#curab p {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.75);
    font-weight: 400;
    line-height: 1.65;
}

#fau {
    text-align: center;
    width: 100%;
    margin: 60 auto;
    padding: 4rem 0 2rem 0;
}

#fau h2 {
    font-size: 2.25rem;
    color: #555555;
    line-height: 1.3;
    font-weight: 300;
    margin: 0 0 1.5rem 0;
    font-family: Arial;
}

#fau p {
    margin-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
    font-family: Arial;
}

#comments {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

#comments .author {
    width: calc(33.3333333333% + -0.5rem);
    background-color: white;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 1rem;
    font-family: Arial;
    padding: 2rem;
    border-radius: 4px;
}

blockquote {
    border-left: solid 0.5rem;
    border-left-color: rgba(0, 0, 0, 0.25);
    padding: 1rem 0 1rem 2rem;
    margin: 0 0 2rem 0;
    font-size: 1rem;
    font-family: Arial;
    font-style: italic;
    font-weight: 400;
    color: #444444;
    line-height: 1.65;
}

.name {
    display: flex;
}

.name img {
    margin-right: 2rem;
    border-radius: 100%;
    max-width: 20%;
}

.name p {
    font-size: 0.75rem;
    font-family: Arial;
}

b {
    color: #ce1b28;
}

footer {
    background-color: #111111;
    padding: 4rem 0 2rem 2rem;
    font-family: Arial;
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    align-items: center;
    display: block;
}

footer h3,
footer h4 {
    color: #ffffff;
    font-weight: 300;
    font-size: 1.25 rem;
    margin: 0 0 1.5rem 0;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 0 2rem 0;
    line-height: 1.65;
}

.alt {
    list-style: none;
    padding-left: 0;
    margin: 0 0 2rem 0;
}

footer a {
    text-decoration: none;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.65;
}

footer a:hover {
    color: #ce1b28
}

#content {
    display: flex;
    flex-wrap: wrap;
}

#content section {
    color: rgba(255, 255, 255, 0.5);
    padding-right: 10rem;
}

#contact {
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0.325rem;
    line-height: 1.65;
}

#contact a i {
    margin-right: 1rem;
    font-size: 1rem;
    color: #ffffff;
    width: 2rem;
    height: 2rem;
}

#copyRight {
    padding: 2rem 0;
    text-align: center;
    font-size: 0.8rem;
}


/* generic page */

#heading {
    background-image: linear-gradient(rgba(172, 10, 10, 0.719), rgba(17, 17, 17, 0.25)), url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15rem;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
}

#heading h1 {
    padding-top: 110px;
    font-weight: 300;
}

#box {
    padding: 60px;
}

#pargraph {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;
    font-family: Arial;
    color: grey;
    font-weight: 300;
    line-height: 1.5;
}


/*elements page */

#pargraph section {
    color: grey;
    width: 50%;
}

#pargraph {
    display: flex;
}

code {
    border: solid 1px grey;
    background-color: rgba(0, 0, 0, 0.075);
    color: #444444;
    border-radius: 2px;
    padding: 2px;
}

#pargraph section h2 {
    font-size: 2.25 rem;
    line-height: 1.3rem;
}

#pargraph section p {
    margin: 0 0 2rem 0;
}

#pargraph section h2,
#pargraph section h3,
#pargraph section h4,
#pargraph section h5,
#pargraph section h6 {
    color: grey;
    margin: 0 0 1.5rem 0;
    font-weight: 300;
    line-height: 1.5rem;
}

#lists {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

ul,
ol {
    list-style: none;
}

.list ul,
.list ol {
    padding: 0;
    list-style: none;
}

#dot {
    list-style-type: disc;
    padding-left: 1rem;
}

.list ol {
    list-style-type: decimal;
    padding-left: 1rem;
}

.list {
    width: 50%
}

.icons {
    padding-left: 0;
    margin: 0 0 2rem 0;
}

.icons li {
    float: left;
    font-size: 2rem;
    color: #ce1b28;
    padding-right: 1rem;
    list-style: none;
}

.actions {
    padding-left: 0;
    margin: 0 0 1.5rem;
    display: flex;
}

.primary-btn {
    background-color: #ce1b28;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
}

.btn {
    background-color: #ffffff;
    color: #444444;
    border: solid 1px #444444;
    font-size: 20px;
    padding: 10px;
    border-radius: 4px;
}


/*#row1 ul,
#row2 ul {
    display: flex;
}

#row5 li,
#row6 li {
    padding-left: 1.5rem;
}*/

#rows {
    display: flex;
}

table {
    margin: 0 0 2rem 0;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    display: table-header-group;
}

tr {
    float: left;
}

table tbody tr {
    float: left;
    border: solid 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

table tbody tr:nth-child(2n+1) {
    background-color: rgba(0, 0, 0, 0.075);
}

table td,
th {
    display: table-cell;
    padding: 0.75rem 0.75rem;
}

section {
    padding-left: 22px;
}